/* Mobile ver. */
@media(max-width : 1100px) {

    /* INTRO Screen */
    #intro-screen {
        max-width: 100%;
        height: 500px;
        padding: 10px 30px;
        background-position: 60% 50%;
        background-size: cover;
    }

    #intro-screen h1 {
        text-align: justify;
        padding: 50px 0 0 0;
    }

    #intro-screen h1 span {
        width: 100%;
    }

    /* SECTION */
    #service {
        padding: 50px 30px;
    }

    #service > div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 100%;
        width: 100%;
        height: fit-content;
    }

    #service .card {
        width: 100%;
        height: fit-content;
        margin-bottom: 5px;
        padding: 20px 30px 30px;
        cursor: pointer;
    }

    #service .card:not(:nth-of-type(5)):after {
        width: 0;
        height: 0;
    }

    #service .card:hover {
        height: fit-content;
    }

    #service .card button {
        display: none;
    }

    #service .card i {
        display: none;
    }

    #service .card p {
        margin: 10px 0 0 0;
        font-size: 1rem;
    }

    #service .card b {
        font-size: 1.5rem;
    }

    #share {
        padding: 50px 30px;
    }

    #share span {
        margin: 20px 0 10px 0;
    }

    #consult {
        width: 100%;
        height: fit-content;
        padding: 0;
    }

    #consult .box-left {
        justify-content: center;
        position: unset;
        width: 100%;
        height: fit-content;
        padding: 30px;
        text-align: center;
    }

    #consult .box-left h1 {
        width: 100%;
    }

    #consult .box-right {
        flex-direction: column;
        position: unset;
        width: 100%;
        height: fit-content;
        padding: 30px;
    }

    #consult form {
        width: 100%;
        height: 230px;
    }

    #consult .box-right button {
        margin: 30px 0 0;
        width: 100%;
        height: fit-content;
        padding: 10px 0;
    }

    #social {
        padding: 80px 0 0;
    }

    #social .box-con {
        flex-direction: column;
        max-width: 100%;
    }

    #social .box-con > div {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-position: 0% 0%;
        background-size: cover;
    }

    #social .box-con > div:first-of-type {
        border-bottom: 1px solid #333;
    }

    #social .box-con > div > div {
        padding: 30px;
        box-sizing: content-box;
        transition: unset;
    }

    #social .box-con > div > div:hover {
        width: 50%;
    }

    #social h1 {
        width: 70%;
        margin-bottom: 30px;
    }

    #social span {
        width: fit-content;
        margin: 5px 0 0;
    }

    #story {
        height: 200px;
        padding: 0 30px;
    }

    #story > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    #story h1 {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    #story button {
        width: 50%;
        min-width: 100px;
    }

}
