* {
    font-family: 'Noto Sans KR', sans-serif;
}

body,
html {
    font-size: 20px;
}

span {
    font-size: 1rem;
}

button {
    font-size: 1rem;
}

/* H E A D E R */
header .top {
    height: 130px;
    background: #222;
    border-bottom: 1px solid #333;
    justify-content: center;
    align-items: center;
}

nav {
    height: 70px;
    background: #222;
    justify-content: center;
    align-items: center;
}

nav li {
    width: 250px;
    text-align: center;
}

nav .gnb {
    width: 1330px;
    justify-content: space-between;
}

nav .gnb > li {
    float: left;
    position: relative;
}

nav .gnb > li > a {
    padding: 10px;
    color: #fff;
}

nav .lnb {
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
}

nav .lnb > li > a {
    width: 100%;
    display: block;
}

#intro  {
    height: 600px;
    background: url("https://placehold.it/1920x600") no-repeat center;
    align-items: center;
    padding: 0 0 0 300px;
}

#intro h1 {
    font-size: 2rem;
}

#intro h1 span {
    display: block;
    width: 500px;
    margin: 20px 0 0 0;
}

/* S E C T I O N */
.service {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    box-sizing: border-box;
    background: url("https://placehold.it/1920x800") no-repeat center;
}

.service h1 {
    width: 1350px;
    margin: 0 0 50px 0;
    text-align: right;
}

.service h1 span {
    display: block;
    margin: 10px 0 0 0;
}

.service > div {
    align-items: flex-end;
    width: 1350px;
    height: 280px;
}

.service .card {
    position: relative;
    flex-direction: column;
    width: 270px;
    height: 230px;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(34, 34, 34, 0.9);
    color: #fff;
    transition: height 0.5s, opacity 2s;
}

.service .card:not(:nth-of-type(5)):after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
}

.service .card:hover {
    height: 280px;
    background: #abab90;
}

.service .card:hover button {
    display: block;
    opacity: 1;
}

.service .card button {
    display: none;
    opacity: 0;
    padding: 5px 0;
    background: #222;
    color: #fff;
    font-size: 0.8rem;
    transition: opacity 2s;
}

.service .card i {
    margin: 0 0 40px 0;
    text-align: right;
}

.service .card p {
    margin: 15px 0 20px 0;
    font-size: 0.8rem;
}

.share {
    padding: 100px 0;
    text-align: center;
}

.share span {
    display: block;
    margin-top: 10px;
}

.share button {
    padding: 10px 50px;
    margin-top: 30px;
}
