* {
    font-family: 'Noto Sans KR', sans-serif;
}

body,
html {
    font-size: 20px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* background: #FFFCF5; */
}

section {
    padding: 0 15px;
}

button,
span {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
}

span {
    display: block;
    font-weight: lighter;
}

/* BOTTOM (Only Mobile) */
.bottom-menu {
    display: none;
}

/* SCROLL (Only PC) */
.scroll {
    position: fixed;
    right: 20px;
    top: 40%;
    z-index: 50;
}

.scroll a {
    display: block;
    position: relative;
    height: 30px;
    margin: 3px 0;
    text-align: right;
    line-height: 30px;
    font-size: 0.7rem;
    color: #aaa;
}

.scroll a::after {
    content: "";
    position: absolute;
    right: -20px;
    width: 10px;
    height: 30px;
    background: #aaa;
}

.scroll a.on::after {
    background: #605C30;
}

/* HEADER */
header .top {
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #333;
    background: #222;
}

header .logo {
    height: 60px;
}

header i {
    display: none !important;
}

nav {
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid #B39D72;
    box-sizing: border-box;
    background: #222;
}

nav li > a {
    text-align: center;
    display: block;
    color: #aaa;
}

nav .gnb {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
}

nav .gnb > li {
    position: relative;
    float: left;
    width: 230px;
}

nav .gnb > li > a {
    line-height: 50px;
}

nav .gnb > li > a:hover {
    color: #B39D72;
}

nav .lnb {
    display: none;
    position: absolute;
    top: 50.5px;
    left: 0;
    width: 100%;
    background: rgba(34, 34, 34, 0.8);
    padding: 15px 0 0 0;
}

nav .lnb > li {
    padding: 0 0 15px 0;
}

nav .lnb > li > a {
    width: 100%;
    color: #aaa;
}

nav .lnb > li > a:hover {
    color: #fff;
}

nav .gnb > li > a:hover + .lnb,
nav .gnb > li:hover .lnb {
    display: block;
}

nav .gnb a.on {
    color: #B39D72;
}

#intro-screen {
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    height: 600px;
    padding: 0 15px;
    background: url("../img/intro-background-2.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
}

#intro-screen h1 {
    width: 1200px;
    font-size: 2rem;
    color: #B39D72;
}

#intro-screen h1 span {
    width: 500px;
    margin: 20px 0 0;
    font-weight: lighter;
    color: #777;
}

/* SECTION */
#service {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 15px;
    box-sizing: border-box;
}

#service h1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 0 30px;
    text-align: left;
    font-size: 1.8rem;
}

#service h1 span {
    margin: 10px 0 0;
    color: #aaa;
}

#service > div {
    align-items: flex-end;
    max-width: 1200px;
    height: 280px;
}

#service .card {
    flex-direction: column;
    position: relative;
    height: 230px;
    padding: 30px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    transition: height 0.5s;
    overflow: hidden;
}

#service .card:not(:nth-of-type(5)):after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
}

#service .card:hover {
    height: 280px;
    background: #B39D72;
}

#service .card:hover button {
    opacity: 1;
}

#service .card button {
    opacity: 0;
    padding: 10px 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8rem;
    transition: opacity 1s;
}

#service .card button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#service .card i {
    margin: 0 0 20px;
    text-align: right;
    opacity: 30%;
}

#service .card p {
    margin: 15px 0 20px;
}

#share {
    padding: 100px 15px 150px 15px;
    box-sizing: border-box;
    text-align: center;
    background: url("../img/share.jpg") no-repeat center;
}

#share h1 {
    font-size: 1.8rem;
    color: #fff;
}

#share span {
    margin-top: 10px;
}

#share button {
    margin-top: 30px;
    padding: 10px 50px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

#share button:hover {
    background: #fff;
    color: #000;
}

#consult {
    position: relative;
    height: 300px;
    padding: 0 15px;
}

#consult .box-left {
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 0;
    width: 40%;
    height: 300px;
    padding: 0 70px 0 0;
    box-sizing: border-box;
    background: #B39D72;
    color: #fff;
    z-index: 10;
}

#consult .box-left h1 {
    width: 300px;
}

#consult .box-left span {
    margin-top: 20px;
}

#consult .box-right {
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 300px;
    padding: 30px 0 30px 12%;
    box-sizing: border-box;
    background: #222;
}

#consult form {
    flex-direction: column;
    width: 40%;
    height: 230px;
}

#consult input[type=text],
#consult textarea {
    margin: 0 0 10px;
    padding: 7px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

#consult textarea {
    resize: none;
    flex: 1;
}

#consult .box-right span {
    color: #fff;
    font-size: 0.7rem;
}

#consult .box-right button {
    margin: 0 0 0 30px;
    width: 200px;
    height: 230px;
    color: #fff;
    background: #333;
}

#consult .box-right button:hover {
    background: #B39D72;
}

#social {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 15px 130px 15px;
}

#social .box-con {
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    color: #fff;
}

#social .box-con > div {
    flex-direction: column;
    justify-content: center;
    width: 49%;
    background-position: 100% 50%;
}

#social .box-left {
    background: url("../img/social-1.jpg") no-repeat;
}

#social .box-right {
    background: url("../img/social-2.jpg") no-repeat;
}

#social .box-con > div > div {
    width: 50%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: #0F1E32;
    transition: all 0.5s;
}

#social .box-con > div > div:hover {
    width: 60%;
}

#social .box-con > div > div > h1 {
    position: relative;
    padding-top: 10px;
    font-size: 1.2rem;
}

#social .box-con > div > div > h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 30px;
    height: 2px;
    background: #fff;
}

#social > h1 {
    margin-bottom: 50px;
    text-align: center;
}

#social span {
    width: 200px;
    margin: 5px 0 40px;
    font-size: 0.8rem;
}

#social button {
    padding: 5px 20px;
    border: 1px solid #fff;
    background: transparent;
    font-size: 0.8rem;
    color: #fff;
}

#social button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#story {
    height: 150px;
    padding: 0 15px;
    background: url("../img/story.jpg") no-repeat center;
}

#story > div {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#story h1 {
    font-weight: normal;
    color: #fff;
}

#story button {
    width: 200px;
    height: 50px;
    background: #B39D72;
    color: #fff;
}

footer {
    padding: 50px 15px;
    background: #222;
    color: #aaa;
}

footer span {
    font-size: 0.8rem;
}

footer > div {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer img.logo {
    margin-bottom: 20px;
    height: 50px;
    opacity: 30%;
}

footer .box-left b {
    color: #B39D72;
}

footer .box-left span {
    margin-top: 20px;
}

footer .box-right {
    width: 20%;
}

footer .box-right b {
    display: block;
    margin: 5px 0 30px;
    font-size: 2rem;
    color: #B39D72;
}