* {
    font-family: 'Noto Sans KR', sans-serif;
}

body,
html {
    font-size: 20px;
}

span,
button {
    font-size: 1rem;
}

span {
    display: block;
}

/* H E A D E R */
header .top {
    justify-content: center;
    align-items: center;
    height: 130px;
    border-bottom: 1px solid #333;
    background: #222;
}

nav {
    justify-content: center;
    align-items: center;
    height: 70px;
    background: #222;
}

nav li > a {
    text-align: center;
    display: block;
    color: #fff;
}

nav .gnb {
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

nav .gnb > li {
    position: relative;
    float: left;
    width: 230px;
}

nav .gnb > li > a {
    line-height: 70px;
}

nav .lnb {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(34, 34, 34, 0.8);
}

nav .lnb > li {
    padding: 0 0 15px 0;
}

nav .lnb > li > a {
    width: 100%;
}

nav .lnb > li > a:hover {
    color: #9A9A6A;
}

nav .gnb > li > a:hover + .lnb,
nav .gnb > li:hover .lnb {
    display: block;
}

#intro  {
    height: 600px;
    background: url("https://via.placeholder.com/1920x600") no-repeat center;
    align-items: center;
    padding: 0 0 0 300px;
}

#intro h1 {
    font-size: 2rem;
}

#intro h1 span {
    width: 500px;
    margin: 20px 0 0 0;
}

/* S E C T I O N */
.service {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    box-sizing: border-box;
    background: url("https://via.placeholder.com/1920x800") no-repeat center;
}

.service h1 {
    width: 1350px;
    margin: 0 0 50px 0;
    text-align: right;
}

.service h1 span {
    margin: 10px 0 0 0;
}

.service > div {
    align-items: flex-end;
    width: 1350px;
    height: 280px;
}

.service .card {
    position: relative;
    flex-direction: column;
    /* width: 270px; */
    height: 230px;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(34, 34, 34, 0.9);
    color: #fff;
    transition: height 0.5s;
}

.service .card:not(:nth-of-type(5)):after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
}

.service .card:hover {
    height: 280px;
    background: #9A9A6A;
}

.service .card:hover button {
    opacity: 1;
}

.service .card button {
    opacity: 0;
    padding: 10px 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8rem;
    transition: opacity 0.5s;
}

.service .card button:hover {
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    /* color: #9A9A6A; */
}

.service .card i {
    margin: 0 0 40px 0;
    text-align: right;
}

.service .card p {
    margin: 15px 0 20px 0;
    font-size: 0.8rem;
}

.share {
    padding: 100px 0 150px 0;
    text-align: center;
    background: url("https://via.placeholder.com/1920x500") no-repeat center;
}

.share span {
    margin-top: 10px;
}

.share button {
    padding: 10px 50px;
    margin-top: 30px;
    background: transparent;
    border: 1px solid #fff;
}

.share button:hover {
    background: #fff;
}





.consult {
    background: pink;
    position: relative;
    height: 300px;
}

.consult .box-left {
    position: absolute;
    top: -50px;
    left: 0;

    width: 40%;
    height: 300px;
    background: grey;
    z-index: 10;
}

.consult .box-right {
    position: absolute;
    bottom: -50px;
    right: 0;

    width: 70%;
    height: 300px;
    background: sandybrown;
}






.social {
    background: gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0 100px 0;
}

.social > h1 {
    text-align: center;
    margin-bottom: 50px;
}

.social .box-con {
    width: 1200px;
    height: fit-content;
    justify-content: space-between;
    color: #fff;
}

.social .box-con > div {
    width: 49%;
    flex-direction: column;
    justify-content: center;
    background: url("https://via.placeholder.com/400x300") no-repeat right;
}

.social .box-left div {
    background: #253253;
}

.social .box-right div {
    background: #9A9A6A;
}

.social .box-con > div > div {
    width: 50%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    transition: all 0.5s;
}

.social .box-con > div > div:hover {
    width: 60%;
}

.social .box-con > div > div > h1 {
    position: relative;
    padding-top: 10px;
}

.social .box-con > div > div > h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 30px;
    height: 3px;
    background: #fff;
}

.social span {
    width: 200px;
    margin: 5px 0 40px 0;
    font-weight: normal;
}

.social button {
    padding: 5px 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.social button:hover {
    background: rgba(255, 255, 255, 0.3);
}