/* Mobile ver. */
@media(max-width : 767px) {}

/* Mobile ver. */
@media(max-width : 1100px) {
    body,
    html {
        min-width: 310px;
        font-size: 16px;
    }

    h1,
    section h1 {
        font-size: 1.8rem;
    }

    /* BOTTOM (Only Mobile) */
    .bottom-menu {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        padding: 10px;
        box-sizing: border-box;
        background: #605C30;
        z-index: 90;
        box-shadow: 0 2px 10px #000;
    }

    .bottom-menu a {
        display: block;
        flex-grow: 1;
        position: relative;
        text-align: center;
        font-size: 0.8rem;
        color: #fff;
    }

    .bottom-menu a:not(:last-child):after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
    }

    .bottom-menu i {
        width: 100%;
        margin-bottom: 15px;
    }

    /* SCROLL (Only PC) */
    .scroll {
        display: none;
    }

    /* HEADER */
    header .top {
        position: fixed;
        width: 100%;
        height: 70px;
        padding: 0 20px;
        border-bottom: 2px solid #B39D72;
        box-sizing: border-box;
        justify-content: space-between;
        z-index: 100;
    }

    header .btn-nav {
        justify-content: center;
        align-items: center;
        position: relative;
        width: 30px;
        cursor: pointer;
    }

    header .logo {
        height: 35px;
    }

    header i {
        display: block !important;
        position: absolute;
        color: #aaa;
    }

    nav {
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 70px;
        width: 100%;
        height: 100%;
        z-index: -100;
    }

    nav.on {
        z-index: 100;
    }

    nav li > a {
        text-align: left;
    }

    nav .gnb {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    nav .gnb > li {
        position: unset;
        width: 100%;
        border-bottom: 1px solid #333;
        text-indent: 20px;
    }

    nav .lnb {
        position: unset;
        background: #333;
    }

    #intro-screen {
        max-width: 100%;
        height: 500px;
        padding: 10px 30px;
        background-position: 60% 50%;
        background-size: cover;
    }

    #intro-screen h1 {
        text-align: justify;
        padding: 50px 0 0 0;
    }

    #intro-screen h1 span {
        width: 100%;
    }

    /* SECTION */
    #service {
        padding: 50px 30px;
    }

    #service > div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 100%;
        width: 100%;
        height: fit-content;
    }

    #service .card {
        width: 100%;
        height: fit-content;
        margin-bottom: 5px;
        padding: 20px 30px 30px;
        cursor: pointer;
    }

    #service .card:not(:nth-of-type(5)):after {
        width: 0;
        height: 0;
    }

    #service .card:hover {
        height: fit-content;
    }

    #service .card button {
        display: none;
    }

    #service .card i {
        margin: 0;
    }

    #service .card p {
        margin: 10px 0 0 0;
        font-size: 1rem;
    }

    #service .card b {
        font-size: 1.5rem;
    }

    #share {
        padding: 50px 30px;
    }

    #share span {
        margin: 20px 0 10px 0;
    }

    #consult {
        width: 100%;
        height: fit-content;
        padding: 0;
    }

    #consult .box-left {
        justify-content: center;
        position: unset;
        width: 100%;
        height: fit-content;
        padding: 30px;
        text-align: center;
    }

    #consult .box-left h1 {
        width: 100%;
    }

    #consult .box-right {
        flex-direction: column;
        position: unset;
        width: 100%;
        height: fit-content;
        padding: 30px;
    }

    #consult form {
        width: 100%;
        height: 230px;
    }

    #consult .box-right button {
        margin: 30px 0 0;
        width: 100%;
        height: fit-content;
        padding: 10px 0;
    }

    #social {
        padding: 80px 0 0;
    }

    #social .box-con {
        flex-direction: column;
        max-width: 100%;
    }

    #social .box-con > div {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-position: 0% 0%;
        background-size: cover;
    }

    #social .box-con > div:first-of-type {
        border-bottom: 1px solid #333;
    }

    #social .box-con > div > div {
        padding: 30px;
        box-sizing: content-box;
        transition: unset;
    }

    #social .box-con > div > div:hover {
        width: 50%;
    }

    #social h1 {
        width: 70%;
        margin-bottom: 30px;
    }

    #social span {
        width: fit-content;
        margin: 5px 0 0;
    }

    #story {
        height: 200px;
        padding: 0 30px;
    }

    #story > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    #story h1 {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    #story button {
        width: 50%;
        min-width: 100px;
    }

    footer {
        padding: 20px 20px 90px 20px;
    }

    footer > div {
        justify-content: flex-start;
        max-width: 100%;
    }

    footer img.logo {
        height: 40px;
    }

    footer .box-right {
        display: none;
    }

}
