/* PC ver. */
section {
    justify-content: center;
    align-items: center;
}

.title {
    flex-direction: column;
    height: 250px;
    padding: 0 20px;
    box-sizing: border-box;
    background: url("../img/title-notice.jpg") no-repeat center;
    text-align: center;
}

.title h1 {
    width: 50%;
    text-align: center;
    color: #fff;
}

.title span {
    margin: 10px 0 0 0;
}

.box-menu {
    height: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
}

.box-menu > div {
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.box-menu select {
    margin: 0 10px 0 0;
    padding: 0 10px;
    border: none;
    background: #fff;
}

.container {
    padding: 50px 20px 100px;
}

.inner-list {
    width: 100%;
    max-width: 1200px;
}

.search {
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 20px 0;
}

.search input {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: none;
    border-bottom: 1px solid #ccc;
    font-size: 0.8rem;
}

.search i {
    margin: 0 0 0 10px;
    cursor: pointer;
}

.list {
    border-top: 3px solid #B39D72;
}

.list li {
    border-bottom: 1px solid #eee;
}

.list li:hover {
    background: #FFFCF5;    
}

.list li a {
    display: flex;
    padding: 20px 0;
}

.list li div {
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
}

.list .list-num {
	flex-shrink: 0;
    width: 7%;
    color: #ccc;
}

.list .list-title {
    flex-grow: 1;
    text-align: left;
}

.list .list-date {
    color: #ccc;
    width: 12%;
}

.list .on {
    color: #B39D72;
    font-weight: bold;
}

.paging {
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.paging li {
    width: fit-content;
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
    font-size: 0.8rem;
    cursor: pointer;
}

.paging i,
.paging .on {
    color: #ccc;
}

/* Mobile ver. */
@media(max-width : 1100px) {

    .title {
        margin: 50px 0 0 0;
    }

    .title h1 {
        width: 100%;
    }

    .list .list-date {
        display: none;
    }

    .list .list-num {
        width: 15%;
    }

    .container {
        padding: 20px 20px 50px;
    }
    
    .paging {
        margin: 20px 0 0 0;
    }

}